<?xml version="1.0" encoding="UTF-8"?>

<!--

Проблема на занятии была не в IDEA а в версии TestNG
Используйте ту, что указана в презентации 6.8 и все будет ок.

Временные XML файлы появятся в каталоге
C:\Users\user\.IntelliJIdea2017.1\system

Это как раз такой файл.

-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Groups TestNG">
  <test name="at28">
    <groups>
      <run>
        <include name="at28" />
      </run>
    </groups>
    <classes>
      <class name="by.it.tsyhanova.CheckFindImageGoogleSiteTest"/>
    </classes>
  </test> <!-- at28 find image on google site -->
  <test name="at29">
    <groups>
      <run>
        <include name="at29" />
      </run>
    </groups>
    <classes>
      <class name="by.it.tsyhanova.ExpediaTest"/>
    </classes>
  </test> <!-- at29 expedia -->
  <test name="at23">
    <groups>
      <run>
        <include name="at23" />
      </run>
    </groups>
    <classes>
      <class name="by.it.tsyhanova.CheckGoogleSiteTest"/>
    </classes>
  </test> <!-- at23 hellowebdriver -->

</suite> <!-- Default Suite -->